<ul style="list-style:none;color:white;margin-left:120px;font-weight:bold;font-size:14px;">
<li style="float:left;"><a href="/purchase" style="color:white;"><%-$('购买主机')%></a>
</li>
<li style="margin-left:20px;float:left;"><a href="/machines" style="color:white;"><%-$('我的云主机')%></a>
</li>
<li style="margin-left:20px;float:left;"> <a href="/create" style="color:white;"><%-$('我的云存储')%></a>
</li>
<li style="margin-left:20px;float:left;"><a href="/create" style="color:white;"><%-$('分析')%></a>
</li>
<li style="margin-left:400px;float:left;"><a href="/account" style="color:white;"><%-login%></a>
</li>
<li style="float:left;">|</li>
<li style="float:left;"><a href="/logout" style="color:white;"><%-$('退出')%></a>
</li></ul>
</div>
</div>