<a href="/purchase" id='new'><%-$('购买主机')%></a>
<a href="/machines" id='new'><%-$('我的云主机')%></a>
<a href="/create" id='new'><%-$('我的云存储')%></a>
<a href="/create" id='new'><%-$('分析')%></a>
<a href="/account"><%-login%><%-$(' 你好，进入用户管理')%></a>
<a href="/logout"><%-$('退出')%></a>
</nav>
<section>