<div id="header" style="width:100%;">
	<div class="register">
		<a href=""><%-login()%><%-$(' 你好，进入主机管理')%></a>
		<a href="/logout"><%-$('退出')%></a>
	</div>
	<div style="width:1024px;height:58px;margin-left:auto;margin-right:auto;">	
		<div style="width:193px;height:58px;float:left;background:url(images/logo.png);">
		</div>
		<nav style='display:inline;'>
			<a href="/account" id='account'><%-$('个人资料')%></a>
			<a href="/sshkeys" id='sshkeys'><%-$('SSH公钥')%></a>
			<a href="/password"><%-$('密码修改')%></a>
		</nav>
	</div>
</div> 
<section>