<ul style="list-style:none;color:white;margin-left:120px;font-weight:bold;font-size:14px;">
<li style="float:left;"><a style="color:white;" href="/account" id='account'><%-$('个人资料')%></a>
</li>
<li style="margin-left:20px;float:left;"><a style="color:white;" href="/sshkey" id='sshkeys'><%-$('SSH公钥')%></a>
</li>

<li style="margin-left:20px;float:left;"><a style="color:white;" href="/password"><%-$('密码修改')%></a>
</li>
<li style="margin-left:400px;float:left;">
<a  style="color:white;" href="/machines"><%-$('主机管理')%></a>
</li>
<li style="float:left;">|</li>
<li style="float:left;"><a href="/logout" style="color:white;"><%-$('退出')%></a>
</li></ul>



</nav>
<section>
<br>
<br>
<br>