<a href="/account" id='account'><%-$('个人资料')%></a>
<a href="/sshkey" id='sshkeys'><%-$('购买记录')%></a>
<a href="/sshkey" id='sshkeys'><%-$('SSH公钥')%></a>
<a href="/password"><%-$('账户密码')%></a>
<a href="/password"><%-$('优惠券')%></a>
<a href="/machines"><%-login%><%-$(' 你好，进入主机管理')%></a>
<a href="/logout"><%-$('退出')%></a>
</nav>
<section>