<%- include pub/title %>
<%- include pub/heauc %>
<%-msg%>
<form onsubmit='return false' autocomplete="off">
用户名：
<input type="text" id="account" name='login' 
	placeholder='账号'
	value="<%= account.login || "" %>"
	required/>
<br />
电邮地址:
<input type="email" id="email" name="email_address" 
	pattern='^\w+(\.\w+)*@(\w)+(\.\w+)*.(\w){2,4}$' 
	placeholder='邮箱' 
	title ='字母数字下划线开头'
	value="<%= account.email_address || "" %>" 
	required/>
<br />
<label for="timezone">时区</label>
<input type="text" value="<%= account.timezone || "" %>" name="timezone">
<br />
<label for="pref_language">通信语言</label>
<input type="text" value="<%= account.pref_language || "" %>" name="pref_language">
<br />

<%var field=''
for(var optional in optionals){
field+='---------'+optional+'---------<br/>'
for(var option in optionals[optional]){
field+=option+' : <input value="'+(account[optionals[optional][option]['name']]||'')+'"'
for(var opt in optionals[optional][option]){
	field+=' '+opt+'='+optionals[optional][option][opt]
}
field+=' /><br>'

}}%>
<%-field%>

<br />
<input type="submit" onclick='checkForm(this,"account")' value="更新设置"/>
</form>
<%- include pub/footer %>