<%- include pub/title %>
<%- include pub/heauc %>
<%-msg()%>
<form onsubmit='return false' autocomplete="off">
<input type="email" id="email" name="email_address" 
	pattern='^\w+(\.\w+)*@(\w)+(\.\w+)*.(\w){2,4}$' 
	placeholder='邮箱' 
	title ='字母数字下划线开头'
	value="<%= account.email_address || "" %>" 
	required/>
<br />
<input type="text" id="account" name='login' 
	placeholder='账号'
	value="<%= account.login || "" %>"
	required/>
<br />
<input type="text" id="name" name='first_name' 
	placeholder='姓'
	value="<%= account.first_name || "" %>" />
<input type="text" id="name" name='last_name'
	placeholder='名'
	value="<%= account.last_name || "" %>" />
<br />
<input type="text" id="company" name='company_name' 
	placeholder='公司名称'
	value="<%= account.company_name || "" %>" />
<br />
<input type="tel" id="phone" name='phone_number' 
	placeholder='手机号'
	title ='数字'
	value="<%= account.phone_number || "" %>" />
<br />
<label for="company_industry">公司领域</label>
<input type="text" value="<%= account.company_industry || "" %>" name="company_industry">
<br />
<input type="submit" onclick='checkForm(this,"account")' value="更新设置"/>
</form>
<%- include pub/footer %>