<%- include pub/title %>
<%- include pub/headc %>
<% for(var dc in machines){
	for(var machine in machines[dc]){
	%>
<%=JSON.stringify(machines[dc][machine])%>dc:<%=dc%>
<a href='/<%=dc%>/machine/<%=machines[dc][machine].id%>'>详情</a>
<br/>---------------------------------------------------------------------------------------<br/>
<%}}%>

<%- include pub/footer %>