<%- include pub/title %>
<%- include pub/headc %>
<link href="/stylesheets/all.css" rel="stylesheet"/>

<!--购买-->
<div style="margin-top:35px;width:1050px;">
<div style="width:700px;border:1px solid pink;float:left;">
<!--购买开始-->
<div id="goumai" style="text-align:left;">
<span style="font-size:22px;font-weight:bold;font-family:'微软雅黑';">
购买</span><br>
<span style="font-size:14px;font-weight:bold;font-family:'微软雅黑';">
如果这里没有您需要的产品套餐，请电邮至<a href="#">business@incloud.org.cn.</a></span>
</div>
<!--购买开始-->
<!--类型开始-->
<div id="leixing" style="margin-top:20px;">
<div class="greyTitle">类型</div>
<div class="leixing">
<div class="leixing1" onclick="buy('machine')">云存储</div>
<div class="leixing2" onclick="buy('machine')">云主机</div>
<div class="leixing1" onclick="buy('machine')">代币</div>
</div>
</div>

<div id="type" style="margin-top:80px;text-align:left;">

</div>
</div>

<!--右侧开始-->
<div style="width:260px;border:1px solid #858585;float:left;margin-left:20px;">
<div style="width:100%;height:132px;border:1px solid #858585;font-size:14px;font-family:'微软雅黑'">
<div style="width:100%;height:20px;background:#F1F1F1;font-weight:bold;">您的购物车</div>
<div style="font-weight:bold;margin-left:10px;text-align:left;width:100%;height:110px;">
<input type="button" onclick='purchase()' value="结账" style="color:white;margin-left:100px;margin-top:15px;width:56px;height:31px;background-color:#0983c9;"></input><br>
<a href='/docs/试用.html'>关于试用</a>
</div>
<span id='goshop'>
	<%for(var keys in goshop){%>
		【<%=goshop[keys].goshop.datasets%>】【<%=goshop[keys].goshop.package%>】<br>
	<%}%>
</span>
<div style="text-align:right;"><a href='#' onclick="clear2('goshop')">清空购物车</a></div>
</div>
</div>
<!--右侧结束-->
</div>
<script>
function buy(type){
	$.get('/purchase/'+type,function(html){
		$('#type').html(html)
	})
}
function clear2(type){
	$.get('/clear/'+type,function(html){
		document.querySelector('#goshop').innerHTML=''
	})
}
function purchase(){
	$.post('/purchase',function(go){
		if(/^\/.*$/.exec(go)){
			window.location.href=go
		}
		else alert(go)
	})
}
</script>
<%- include pub/footer %>