<%- include pub/title %>
<%- include pub/heauc %>
<%-msg%>
<form method='post' onsubmit='return false'>
      <input type="text" name="name" class="sshkey" 
		placeholder='公钥名称' ><br/>
      <textarea name="key" class="sshkey" 
		placeholder='SSH公钥' required></textarea><br/>
      <input type="submit" onclick='checkForm(this,"sshkey")'/>

</form>
  <ul>
    <% for (var i = 0; i < keys.length; i++) {%>
    <li>
        <dl>
          <dt><%- $('名称') %></dt>
          <dd><%- keys[i].name || ""%></dd>
          <dt><%- $('SSH公钥') %></dt>
          <dd><%- keys[i].key %></dd>
        </dl>
          <a href="/sshkeys/<%= keys[i].name %>/del" ><%- $('删除') %></a>
    </li>
    <% } %>
  </ul>
<%- include pub/footer %>